{% extends 'budget/base.html' %}

{% block body_block %}
    <div class="hero-unit">
        <h1>A simple budgeting tool</h1>
    </div>
    <div class="row-fluid">
        <div class="span11 offset1">
            <p class="lead">A simple explanation of the page</p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span11 offset1">
            <h3>Contact</h3>
            <address>
                <strong>Daniel Endler</strong><br/>
                <a href="mailto:daniel.endler@gmail.com">daniel.endler@gmail.com</a> <br/>
                <abbr title="Phone">P:</abbr> +49 (0) 176 80222-731
            </address>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span11 offset1">
            <h3>Change log</h3>
            <strong>Features and make-up 2015-03-13</strong>
            <p>Nicer tables, data export and recurring expenditures and incomes</p>

            <ul>
                <li>Tables designa dn features from <a href="http://bootstrap-table.wenzhixin.net.cn/">Bootstrap Tables</a></li>
            </ul>


            <strong>Features 2015-03-11</strong>

            <p>User authentication and registration</p>
            <ul>
                <li>New user models based on: <a href="https://django-registration.readthedocs.org/en/latest/" target="_blank">django-registration</a></li>
                <li>Profile pages</li>
            </ul>

            <strong>Bugs and features 2015-03-08</strong>

            <p>"Kleinschliff"</p>
            <ul>
                <li>New datepicker based on: <a href="https://github.com/asaglimbeni/django-datetime-widget" target="_blank">django-datetime-widget</a></li>
                <li>Fix zoom on forms while on mobile view: <a href="http://nerd.vasilis.nl/prevent-ios-from-zooming-onfocus/" target="_blank">Javascript fix</a> </li>
                <li>About page</li>
                <li>Fixed bud on creating categories</li>
                <li>categories now are unique in the combination name and user</li>
                <li>Spelling mistakes</li>
            </ul>

            <strong>First post 2015-03-06</strong>

            <p>All the features until today</p>
            <ul>
                <li>browse last and next months</li>
                <li>user authentication</li>
                <li>theme</li>
                <li>mobile check</li>
                <li>make forms prettier</li>
                <li>put form on first page</li>
            </ul>
        </div>
    </div>
{% endblock %}


view profile page